::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: $heading-color;
}

::selection {
	background: $heading-color;
	color: white;
}

section {
	padding: 10% 5%;
	overflow: hidden;

	h2 {
		font-size: 2.2em;
        font-weight: 700;
		font-family: 'Roboto Condensed', sans-serif;
		color: $heading-color;
	}
}


section.blue-bg {
	color: white;
    background: $heading-color;

    h2 {
        color: white;
        text-align: center;
    }

    p#subheading {
        text-align: center;
    }
}


button {
	display: block;
	height: 3.5em;
	margin: auto;
	border: 0;
	border-radius: 5px;
	outline-width: 1px;
	color: white;
	background: $dark-brown;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

button:hover {
	border: 1px solid $dark-brown;
	background: transparent;
}



@media (max-width: 800px) {
	section {
		h2 {
			font-size: 2em;
		}
	}
}
