footer {
    padding: 2% 5%;
    color: white;
    background: $dark-brown;

    div.column {
        flex: 33.33%;

        a {
            transition: 0.4s ease-in-out;
        }

        a:hover {
            color: $bright-yellow;

            i {
                color: $bright-yellow;
            }
        }
    }

    div.column:nth-of-type(2) {
        p {
            a {
                padding: 0 2.5%;
            }

            span {
                color: $bright-yellow;
            }
        }
    }

    div.column:last-of-type {
        text-align: right;

        a {
            color: white;

            i {
                font-size: 2em;
                transition: 0.4s ease-in-out;
            }
        }
    }
}
